*{
    box-sizing: border-box;
     margin: 0;
     padding: 0;

}

html{
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

:root{

    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

.customer-review-page{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--White);
    height: 100vh;
    padding: 10rem;
    padding-left: 12.5rem;
    padding-right: 12.5rem;

    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 50%, 50%;
}

.content{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.content-head{
    font-size: 4em;
    font-weight: 520;
    color: var(--Very-Dark-Magenta);
    line-height: 0.8em;
    width: 25rem;
}

.content-info{
    font-size: 1.2em;
    line-height: 1.5em;
    width: 80%;
    color: var(--Dark-Grayish-Magenta);
    margin-top: 12px;
    width: 27rem;
}

.customer-rating{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.rating-box{
    display: flex;
    width: 65%;
    height: 65px;
    background-color: var(--Light-Grayish-Magenta);
    margin-bottom: 15px;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    border-radius: 12px;
}

.stars{
    margin-left: 35px;
}

.rating-comment{
    margin-left: 45px;
    color: var(--Very-Dark-Magenta);
    font-size: 1.1rem;
    font-weight: 550;
}

#rating-box1{
    margin-bottom: 15px;
    margin-right: auto;
}

#rating-box2{
    margin-bottom: 15px;
}

#rating-box3{
    margin-bottom: 15px;
    margin-left: auto;
}

.customer-reviews{
    display: flex;
    justify-content: space-around;
    height: 45% ;
    margin-top: 5rem;
}

.customer-review-box{
    display: flex;
    background-color: var(--Very-Dark-Magenta);
    color: var(--White);
    height: 15rem;
    border-radius: 10px;
    justify-content: left;
    flex-wrap: wrap;
}

#customer2{
    margin-top: 3rem;
    margin-left: 30px;
}

#customer3{
    margin-top: 6rem;
    margin-left: 30px;
}

img{
    border-radius: 25px;
    max-width: 3rem;
    margin-left: 2.5rem;
    margin-top: 1.5rem;
}

#customer1-name{
    margin-top: 2rem;
    margin-left: 1.5rem;
}

#customer2-name{
    margin-top: 2rem;
    margin-left: 1.5rem;
}

#customer3-name{
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.customer-review-content{
    display: flex;
    font-size: 1.2rem;
    padding: 2.5rem;
}

.name{
    font-size: 1.2rem;
    font-weight: 800;
}

.buyer{
    font-size: 1.1rem;
    color: var(--Soft-Pink);
}